// IMPORT GENERAL STYLES
@import "./sass-components/_generalReset.scss";

* {
  border: 1px solid gray;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  
  div {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // background-color: black;

    img {
      display: inline-block;
      width: 6rem;
      height: 6rem;
      // margin: 0 auto;
      padding: 0;
      border-radius: 50%;
      // background-color: black;
    }

    h1 {
      display: inline-block;
      color: white;
      height: 4rem;
      text-align: center;
      font-size: 4rem;
    }
  }
  nav {
    display: inline-flex;
    flex-flow: row nowrap;
    // justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      color: white;
      // background-color: black;
      font-size: 2.5rem;
      margin: 1rem;
    }
  }
}

